/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17/03/2023, 00:32:10
    Author     : branp
*/
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');

html{
    background-color: #fffffff4;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family:  Lucida;
    color: #fff;
    font-weight: bold;
    color: black;
}
a{
    text-decoration: none;
}
p{
    color: black;
    font-family: 'Caveat Brush';
    font-size: xx-large;
    cursor:default;;
}
label{
    font-size: large;
    color: black;
    padding-top: 5%;
    padding-bottom: 5%;
}
button{
     color: rgb(255, 255, 255);
  background-color: #d3b162;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3em;
  width: 8em;
  font-size: large;
  font-weight: 600;
  padding-top: 5%;
  padding-bottom: 5%;
}

.nav-link{
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: center;
    flex-direction: column;
}
header{
    background-color: #fff;
}   
input{
    height: 20px;
    width: 70px;
}
.contenedorGrande{
    display: grid;
    margin: auto;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}
.contenedor{
    display: flex;
    align-items:center;
    justify-content:space-evenly;
    flex-direction: row;
    height: 80px;
    width: 100%;
}
#logo{
    font-size: 40px;
    font-family:'Caveat Brush';
    color: black;
}
.contenedorPrincipal{
    display: flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    background: url(https://www.everywhereist.com/wp-content/themes/everywhereist-v3/images/bg-light-green.jpg);
    height: 100vh;
    width: 100vw;
}
.divSeparador{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-width: 2px; 
    border-style: solid; 
    background-color: rgb(237, 226, 191);
    border-color: rgb(0, 0, 0);
    height: 80vh;
    width: 50vw;
}
.divSeparadorInterno{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
}
form{
    height: 100%;
    weight: 100%;
}
select{
    width: 100%;
    position: relative;
    padding: 16px 30px 16px 50px;
    border-radius: 50px;
    font: 400 22px arial;
    -webkit-appearance: none;
    appearance: none;
    color: black;
    border: 1px solid black;
    
}
select::-ms-expand{
    display: none;
}
select:focus{
    outline: none;
    box-shadow: 0 0 10px -1px #931dff;
}
#btnCulero{
    color: rgb(255, 255, 255);
  background-color: #d3b162;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3em;
  width: 13em;
  font-size: large;
  font-weight: 600;
}
#divBoton{
    display: flex;
    align-items:center;
    justify-content:space-evenly;
    flex-direction: row;
    height: 80px;
    width: 100%;
}
#divInput{
    display: flex;
    align-items:center;
    justify-content:space-evenly;
    flex-direction: column;
    height: 80px;
    width: 100%;
}