<?xml version="1.0" encoding="UTF-8"?>
<Context path="/ProyectoTienda"/>
<servlet>
  <servlet-name>UploadJSONServlet</servlet-name>
  <servlet-class>com.example.UploadJSONServlet</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>UploadJSONServlet</servlet-name>
  <url-pattern>/UploadJSONServlet</url-pattern>
</servlet-mapping>